<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Insurance Services, Inc</title>
</head>
<body >

<h1 style="text-align:center; ">ABC Insurance Company</h1>
<h2 style="text-align:center;" >Upload your images here for claims</h2>
<pr style="text-align:center;" >
<form method="post" enctype="multipart/form-data" action="http://localhost:8080/upload" >
    Account Name:<input type="text" name="accountName" ><br><br>
    <input type="file" accept=".jpg,.jpeg,.png" name="nf" /><br><br>
    <input type="submit" value="upload" />
</form>
</pr>
</body>
</html>
