<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Insurance Services, Inc</title>
</head>
<body>

<h1>ABC Insurance Company</h1>
<h2>Upload your images here for claims</h2>
<form method="post" enctype="multipart/form-data" action="http://localhost:8080/upload">
    <input type="file" name="nf" />
    <input type="submit" value="upload" />
</form>

</body>
</html>
